{% extends 'layout/base_email.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{% trans 'This may interest you.' %}</h1>

<p>{% trans 'Hi' %} {{ profile.user.first_name }}. <a href="{{ base_url }}/{{ job_offer.venture.slug }}">{{ job_offer.venture }}</a> {% trans 'has published a new Job Offer that may interest you:' %}</p>

<h3>
    <a href="{{ base_url }}/{{ job_offer.slug }}">{{ job_offer }}</a>
</h3>

{{ job_offer.description|safe|truncatechars_html:130 }}

{% if job_offer.country %}
<p>{% trans 'Country:' %} {{ job_offer.country }}</p>
{% endif %}

{% if job_offer.city %}
<p>{% trans 'City:' %} {{ job_offer.city }}</p>
{% endif %}

<p>{% trans 'Go to' %} <a href="{{ base_url }}/{{ job_offer.slug }}">{% trans 'apply' %}</a></p>
{% endblock %}
