{% extends 'layout/base_email.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>This may interest you.</h1>

<p>Hi {{ profile.user.first_name }}. <a href="{{ base_url }}/{{ job_offer.venture.slug }}">{{ job_offer.venture }}</a> has published a new Job Offer that may interest you:</p>

<h3>
    <a href="{{ base_url }}/{{ job_offer.slug }}">{{ job_offer }}</a>
</h3>

{{ job_offer.description|safe|truncatechars_html:130 }}

{% if job_offer.country %}
<p>Country: {{ job_offer.country }}</p>
{% endif %}

{% if job_offer.city %}
<p>City: {{ job_offer.city }}</p>
{% endif %}

<p>Go to <a href="{{ base_url }}/{{ job_offer.slug }}">apply</a></p>
{% endblock %}
