{% extends "layout/base.html" %}
{% load static i18n widget_tweaks %}

{% block title %}{% trans 'Create all cities database for a specific country.' %}{% endblock %}

{% block css %}
<link href="{% static 'dist/css/layout/layout.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="AdminDashboard">
    <div class="container py-4">
      <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="form-group">{{ form.non_field_errors }}</div>
      {% endif %}

        <div class="row">
          <div class="form-group col-md-6">
            <p>{{ form.country_code.label_tag }}</p>
            {% render_field form.country_code class+="form-control" %}
            {{ form.country_code.errors }}
          </div>

          <div class="form-group col-md-6">
            <p>{{ form.excel_file.label_tag }}</p>
            {% render_field form.excel_file class+="form-control" %}
            {{ form.excel_file.errors }}
            <p class="font-weight-light">{{ form.excel_file.help_text }}</p>
          </div>
        </div>

        <button type="submit" class="btn btn-outline-info">{% trans "Cargar" %}</button>
      </form>
    </div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
