{% extends "layout/base.html" %}
{% load widget_tweaks static i18n %}

{% block title %}{% trans 'Thank you for contacting us' %}{% endblock %}

{% block content %}
<div class="container">
  <div class="QJContactFormSuccess">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <h1 class="h1">{% trans 'Thank you for contacting us!!!' %}</h1>

        <p class="h5">---</p>

        <p class="h4">{% trans 'We have received your message and we will get in touch with you soon.' %}</p>

        <p class="h5">---</p>
          
          
        <a href="{% url 'landing_page' %}" class="btn btn-primary">{% trans 'Go to home page' %}</a>

        <a href="{% url 'companies_list' %}" class="btn btn-ghost-purple">{% trans 'Take a look to the companies list' %}</a>

        <a href="{% url 'jobs_list' %}" class="btn btn-ghost-purple">{% trans 'Take a look to the job offers list' %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
