{% extends "layout/base.html" %}
{% load static widget_tweaks i18n %}

{% block title %}{% trans 'Companies' %}{% endblock %}

{% block css %}
<link href="{% static 'dist/css/entrepreneur/company_list.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="QJVFilterForm mb-5">
    <form id="id_QJVfilterForm" method="get" class="company-form clearfix">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div id="id_QjaneVFcountryAut" class="form-group" data-country-autocomplete-url="{% url 'place:country_search' %}">
            {{ filter_form.country_search.label_tag }}
            {% render_field filter_form.country_search class+="form-control" %}
            <img id="id_QjaneVFcountryAutImg" src="{{ country_instance.flag }}">

            <div style="display:none">
            {% render_field filter_form.country_code %}
            </div>
          </div>

          <div class="form-group">
          {{ filter_form.category.label_tag }}
          {% render_field filter_form.category class+="form-control" %}
          {{ filter_form.category.errors }}
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group" id="id_QjaneVFcityAut" data-ax-city-autocomplete-url="{% url 'place:city_search' %}">
              {{ filter_form.city_search.label_tag }}
              {% render_field filter_form.city_search class+="form-control" %}
              {{ filter_form.city_search.errors }}

              <div style="display:none">
              {% render_field filter_form.city_id %}
              </div>
          </div>

          <div id="id_QjaneVListAut" class="form-group" data-ax-company-autocomplete-url="{% url 'entrepreneur:ax_company_autocomplete' %}">
              {{ filter_form.company_search.label_tag }}
              {% render_field filter_form.company_search class+="form-control" %}
              {{ filter_form.company_search.errors }}

              <div style="display:none">
              {% render_field filter_form.company_id %}
              </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
          <div class="col-12 col-sm-4 mb-3 mb-sm-0">
            <a
              class="btn btn-ghost-purple btn-block"
              href="javascript:void(0)"
              id="id_QJCleanVfilter">
              {% trans 'Clean' %}
            </a>
          </div>

          <div class="col-12 col-sm-4">
            <button
              class="btn btn-primary btn-block"
              type="submit">
              {% trans 'Search' %}
            </button>
          </div>
        </div>
    </form>
  </div>

  <div class="card rounded-0 border-0">
    <div class="card-header bg-qj-purple rounded-0">
      <h3 class="h4 m-0 text-white">{% trans 'Companies' %}</h3>
    </div>
    <div class="card-body p-0 border border-muted border-top-0">
      <table class="table table-striped company-table mb-0">
        <tbody>
          {% for company in company_list %}
          <tr>
            <td>
              <div class="company-item">
                <div class="row">
                  <div class="d-none d-sm-block col-sm-3 col-lg-2">
                    <img class="thumbnail img-fluid" src="{{ company.get_logo }}" alt="{{ company }}">
                  </div>

                  <div class="col-12 col-sm-9 col-lg-10">
                    <h3>
                        {{ company }}
                    </h3>

                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <p>
                          <img src="{{ company.country.flag }}">
                          <span>{{ company.country }}</span>
                          <span> - {{ company.city }} {% if company.state %}, {{ company.state }}.{% endif %}</span>
                        </p>

                        <p>
                        {% if company.address %}
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span>{{ company.address }}</span>
                        {% endif %}
                        </p>
                      </div>

                      <div class="col-12 col-sm-6">
                        {% get_current_language as LANGUAGE_CODE %}
                        <ul>
                        {% for category in company.industry_categories.all %}
                          <li>
                          {% if LANGUAGE_CODE == 'es' %}
                          {{ category.name_es }}
                          {% else %}
                          {{ category.name_en }}
                          {% endif %}
                          </li>
                        {% endfor %}
                        </ul>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-sm-3 col-md-2">
                        <a href="{{ company.get_absolute_url }}" class="btn btn-block btn-primary">{% trans 'View' %}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td>
            {% trans 'No companies found.' %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'dist/js/entrepreneur/company_list.min.js' %}"></script>
{% endblock %}
