{% extends "layout/index.html" %}

{% load static entrepreneur_tags %}

{% block title %}{{ object }}{% endblock %}

{% block navbar %}
{% include 'layout/menu/_auth_and_non_auth_navbar.html' %}
{% endblock %}

{% block content %}
<section class="qjane-job-offer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img style="max-width: 100%;" class="media-object thumbnail" src="{{ object.venture.get_logo }}" alt="{{ object.venture }}">

                <h3><a href="{{ object.venture.get_absolute_url }}">{{ object.venture }}</a></h3>

                <div class="QJVentureDetCategories">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <span>Job offer {% if object.industry_categories.count > 1 %}categories{% else %}category{% endif %}</span>
                        </div>

                        <div class="panel-body">
                            <ul class="QJVentureDetCats">
                            {% for industry_category in object.industry_categories.all %}
                                <li>{{ industry_category }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {% if object.country or object.city %}
                <div class="QJJobDetLocation">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <span>Location</span>
                        </div>

                        <div class="panel-body">
                            {% if object.country %}
                            <div>
                                <img src="{{ object.country.flag }}">
                                <span>{{ object.country }}</span>
                            </div>
                            {% endif %}

                            {% if object.city %}
                            <div>
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                <span>{{ object.city }} {% if object.state %}, {{ object.state }}.{% endif %}</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-sm-12 col-md-9 col-lg-9">
                <h1>{{ object }}</h1>
                <p>Created at: {{ object.created_at }}</p>

                <div class="QJVentureDetDescription">
                {% if object.description %}
                    <div class="QJRedactorContent">
                        {{ object.description|safe }}
                    </div>
                {% endif %}
                </div>

            {% if can_manage %}
                <h3>Applicants list</h3>
                
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>application date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>

                    <tbody>
                    {% for applicant in object.applicant_set.all %}
                        <tr>
                          <td>{{ applicant.applicant }}</td>
                          <td>{{ applicant.created_at }}</td>
                          <td>
                            <a href="{% url 'professional_detail' applicant.applicant.slug %}">
                              View profile
                            </a>
                          </td>
                        </tr>
                    {% empty %}
                        <tr>
                          <td>There are not applicants yet.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

                {% if can_apply %}
                <a class="btn btn-primary" href="{% url 'job_offer_apply' object.slug %}">Apply</a>
                {% endif %}

                {% if has_applied %}
                <div class="alert alert-success" role="alert">
                  You have applied to this offer.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
