{% extends "layout/base.html" %}
{% load static widget_tweaks i18n %}

{% block title %}Job offers{% endblock %}

{% block css %}
<link href="{% static 'dist/css/entrepreneur/jobs_list.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container py-4">
  <form id="id_QJJOfilterForm" method="get" class="jobs-form clearfix mb-5">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div id="id_QjaneVFcountryAut" class="form-group" data-country-autocomplete-url="{% url 'place:country_search' %}">
          {{ filter_form.country_search.label_tag }}
          {% render_field filter_form.country_search class+="form-control" %}
          <img id="id_QjaneVFcountryAutImg" src="{{ country_instance.flag }}">

          <div class="d-none">
          {% render_field filter_form.country_code %}
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group" id="id_QjaneVFcityAut" data-ax-city-autocomplete-url="{% url 'place:city_search' %}">
            {{ filter_form.city_search.label_tag }}
            {% render_field filter_form.city_search class+="form-control" %}
            {{ filter_form.city_search.errors }}

          <div class="d-none">
          {% render_field filter_form.city_id %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-12">
        <div class="form-group">
        {{ filter_form.category.label_tag }}
        {% render_field filter_form.category class+="form-control" %}
        {{ filter_form.category.errors }}
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12">
        <div id="id_QjaneVListAut" class="form-group" data-ax-company-autocomplete-url="{% url 'entrepreneur:ax_company_autocomplete' %}">
          {{ filter_form.company_search.label_tag }}
          {% render_field filter_form.company_search class+="form-control" %}
          {{ filter_form.company_search.errors }}

          <div style="display:none">
          {% render_field filter_form.company_id %}
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12">
        <div class="form-group">
        {{ filter_form.job_type.label_tag }}
        {% render_field filter_form.job_type class+="form-control" %}
        {{ filter_form.job_type.errors }}
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-sm-4 mb-3 mb-sm-0">
        <a
          class="btn btn-ghost-purple btn-block"
          href="javascript:void(0)"
          id="id_QJCleanJOfilter">
          {% trans 'Clean' %}
        </a>
      </div>

      <div class="col-12 col-sm-4">
        <button
          class="btn btn-primary btn-block"
          type="submit">
          {% trans 'Search' %}
        </button>
      </div>
    </div>
  </form>

  <div class="card rounded-0 border-0">
    <div class="card-header bg-qj-purple rounded-0">
      <h3 class="h5 m-0 text-white">{% trans 'Job offers' %}</h3>
    </div>
    <div class="card-body p-0 border border-muted border-top-0">
      <table class="table table-striped jobs-table">
        <tbody>
          {% for job_offer in jobs_list %}
          <tr>
            <td>
              <div class="jobs-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-lg-3">
                    <div class="row d-none d-sm-block">
                      <div class="col-xs-8">
                        <img class="thumbnail img-fluid" src="{{ job_offer.venture.get_logo }}" alt="{{ job_offer.venture }}">
                      </div>
                    </div>

                    <h3>{{ job_offer.venture }}</h3>

                    <p>
                      <img src="{{ job_offer.venture.country.flag }}">
                      <span>{{ job_offer.venture.country }}</span>
                      <span> - {{ job_offer.venture.city }} {% if job_offer.venture.state %}, {{ job_offer.venture.state }}.{% endif %}</span>
                    </p>

                    <div>
                    {% if job_offer.venture.address %}
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>{{ job_offer.venture.address }}</span>
                    {% endif %}
                    </div>

                    <hr class="visible-xs">
                  </div>

                  <div class="col-12 col-sm-8 col-lg-9">
                    <h2>
                        {{ job_offer }}
                    </h2>

                    <p><strong>Status:</strong>
                    {% if job_offer.is_active %}
                    <span class="JODetailStatus badge badge-success">{% trans 'Active' %}</span>
                    {% else %}
                    <span class="JODetailStatus badge badge-warning">{% trans 'Closed' %}</span>
                    {% endif %}
                    </p>

                    {% get_current_language as LANGUAGE_CODE %}
                    <ul>
                    {% for industry_category in job_offer.industry_categories.all %}
                        <li>
                        {% if LANGUAGE_CODE == 'es' %}
                        {{ industry_category.name_es }}
                        {% else %}
                        {{ industry_category.name_en }}
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>

                    <p><strong>{% trans 'Created at:' %}</strong> {{ job_offer.created_at }}</p>
                    <p><strong>{% trans 'Job type:' %}</strong> {{ job_offer.get_job_type_display }}</p>

                    {% if job_offer.country %}
                    <div>
                        <img src="{{ venture.country.flag }}">
                        <span>{{ job_offer.country }}</span>
                    </div>
                    {% endif %}

                    {% if job_offer.city %}
                    <div>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        <span>{{ job_offer.city }} {% if job_offer.state %}, {{ job_offer.state }}.{% endif %}</span>
                    </div>
                    {% endif %}

                    <div>
                        {{ job_offer.description|safe|truncatechars_html:330 }}
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-3 col-md-2">
                            <a href="{{ job_offer.get_absolute_url }}" class="btn btn-block btn-primary">{% trans 'View' %}</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr>
              <td>
                  {% trans 'No job offers found.' %}
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'dist/js/entrepreneur/job_offers_list.min.js' %}"></script>
{% endblock %}
