{% extends "layout/index.html" %}
{% load static widget_tweaks %}

{% block title %}Empresas{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default main-nav-container is-authenticated">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand logotype-wrapper--authenticated" href="/">
                <img class="logotype-wrapper__image--authenticated" src="{% static 'img/brand-authenticated.svg' %}" alt="Logitpo Query Jane">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if user.is_authenticated %}
                {% include 'layout/menu/_navbar_user_menu.html' %}
            {% else %}
                {% include 'layout/menu/_navbar_login_form.html' %}
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<section class="account">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="QJVFilterForm">
                    <form id="id_QJVfilterForm" method="get" class="clearfix">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="id_QjaneVFcountryAut" class="form-group" data-country-autocomplete-url="{% url 'place:country_search' %}">
                                    {{ filter_form.country_search.label_tag }}
                                    {% render_field filter_form.country_search class+="form-control" %}
                                    <img id="id_QjaneVFcountryAutImg" src="{{ country_instance.country.flag }}">

                                    <div style="display:none">
                                    {% render_field filter_form.country_code %}
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    {{ filter_form.category.label_tag }}
                                    {% render_field filter_form.category class+="form-control" %}
                                    {{ filter_form.category.errors }}
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group" id="id_QjaneVFcityAut" data-ax-city-autocomplete-url="{% url 'place:city_search' %}">
                                    {{ filter_form.city_search.label_tag }}
                                    {% render_field filter_form.city_search class+="form-control" %}
                                    {{ filter_form.city_search.errors }}

                                    <div style="display:none">
                                    {% render_field filter_form.city_id %}
                                    </div>
                                </div>
                                <div id="id_QjaneVListAut" class="form-group" data-ax-ventury-autocomplete-url="{% url 'entrepreneur:ax_ventury_autocomplete' %}">
                                    {{ filter_form.venture_search.label_tag }}
                                    {% render_field filter_form.venture_search class+="form-control" %}
                                    {{ filter_form.venture_search.errors }}

                                    <div style="display:none">
                                    {% render_field filter_form.venture_id %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" id="id_QJCleanVfilter" class="btn btn-ghost-purple">Limpiar filtro</a>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </form>
                </div>
                <ul class="QJVentList">
                {% for venture in venture_list %}
                    <li class="QJVentListItem clearfix">
                        <img style="max-width: 150px;" class="media-object thumbnail pull-left" src="{{ venture.get_logo }}" alt="{{ venture }}">

                        <div class="QJVentureListData pull-right clearfix">
                            <div class="pull-left">
                                <h3>{{ venture }}</h3>
                                <div class="AjVentureListLocation">
                                    <img src="{{ venture.country.country.flag }}">
                                    <span>{{ venture.country }}</span>
                                    <span> - {{ venture.city }} {% if venture.state %}, {{ venture.state }}.{% endif %}</span>

                                    <div>
                                    {% if venture.address %}
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>{{ venture.address }}</span>
                                    {% endif %}
                                    </div>
                                </div>

                                <ul class="QJventureListCategories">
                                {% for category in venture.industry_categories.all %}
                                    <li>{{ category }}</li>
                                {% endfor %}
                                </ul>
                            </div>

                            <div class="pull-right">
                                <a href="{{ venture.get_absolute_url }}" class="btn btn-ghost-purple">Ver empresa</a>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li class="QJVentListEmptyMessage">No se han encontrado resultados.</li>
                {% endfor %}
                </ul>
            </div>

            <div class="col-md-4 col-xs-12">
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/place/place_autocomplete.js' %}"></script>
<script src="{% static 'js/entrepreneur/venture_list.js' %}"></script>
{% endblock %}

