{% extends "layout/index.html" %}
{% load static widget_tweaks %}

{% block title %}Companies{% endblock %}

{% block navbar %}
{% include 'layout/menu/_auth_and_non_auth_navbar.html' %}
{% endblock %}

{% block css %}
<link href="{% static 'dist/css/entrepreneur/venture_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="account">
    <div class="container">
        <div class="QJVFilterForm">
            <form id="id_QJVfilterForm" method="get" class="venture-form clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div id="id_QjaneVFcountryAut" class="form-group" data-country-autocomplete-url="{% url 'place:country_search' %}">
                            {{ filter_form.country_search.label_tag }}
                            {% render_field filter_form.country_search class+="form-control" %}
                            <img id="id_QjaneVFcountryAutImg" src="{{ country_instance.country.flag }}">

                            <div style="display:none">
                            {% render_field filter_form.country_code %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ filter_form.category.label_tag }}
                            {% render_field filter_form.category class+="form-control" %}
                            {{ filter_form.category.errors }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group" id="id_QjaneVFcityAut" data-ax-city-autocomplete-url="{% url 'place:city_search' %}">
                            {{ filter_form.city_search.label_tag }}
                            {% render_field filter_form.city_search class+="form-control" %}
                            {{ filter_form.city_search.errors }}

                            <div style="display:none">
                            {% render_field filter_form.city_id %}
                            </div>
                        </div>
                        <div id="id_QjaneVListAut" class="form-group" data-ax-ventury-autocomplete-url="{% url 'entrepreneur:ax_ventury_autocomplete' %}">
                            {{ filter_form.venture_search.label_tag }}
                            {% render_field filter_form.venture_search class+="form-control" %}
                            {{ filter_form.venture_search.errors }}

                            <div style="display:none">
                            {% render_field filter_form.venture_id %}
                            </div>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" id="id_QJCleanVfilter" class="btn btn-ghost-purple">Clean</a>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <br>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Companies</h3>
            </div>

            <div class="panel-body QJVentList">
                <table class="table table-striped venture-table">
                    <tbody>
                        {% for venture in venture_list %}
                        <tr>
                            <td>
                                <div class="QJVentListItem venture-item">
                                    <div class="row">
                                        <div class="hidden-xs col-sm-3 col-lg-2">
                                            <img class="thumbnail img-responsive venture-item__company-img" src="{{ venture.get_logo }}" alt="{{ venture }}">
                                        </div>

                                        <div class="col-xs-12 col-sm-9 col-lg-10">
                                            <div class="QJVentureListData">
                                                <h3 class="venture-item__company-title">
                                                    {{ venture }}
                                                </h3>

                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class="AjVentureListLocation">
                                                            <p>
                                                                <img src="{{ venture.country.country.flag }}">
                                                                <span>{{ venture.country }}</span>
                                                                <span> - {{ venture.city }} {% if venture.state %}, {{ venture.state }}.{% endif %}</span>
                                                            </p>

                                                            <p>
                                                            {% if venture.address %}
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                <span>{{ venture.address }}</span>
                                                            {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6">
                                                        <ul class="QJventureListCategories">
                                                        {% for category in venture.industry_categories.all %}
                                                            <li>{{ category }}</li>
                                                        {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-3 col-md-2">
                                                        <a href="{{ venture.get_absolute_url }}" class="btn btn-block btn-primary">View</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>
                                No companies found.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/place/place_autocomplete.js' %}"></script>
<script src="{% static 'js/entrepreneur/venture_list.js' %}"></script>
{% endblock %}

