{% extends "layout/index.html" %}

{% load static entrepreneur_tags %}

{% block title %}{{ venture }}{% endblock %}
{% block meta_title %}{{ venture }}{% endblock %}
{% block meta_description %}{{ venture.description_en|safe|truncatechars_html:200 }}{% endblock %}

{% block navbar %}
{% include 'layout/menu/_auth_and_non_auth_navbar.html' %}
{% endblock %}

{% block content %}
<section class="qjane-venture-profile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="media-object">
                    <div class="row">
                        <div class="col-xs-8 col-sm-11 col-md-9">
                            <img class="img-responsive thumbnail" src="{{ venture.get_logo }}" alt="{{ venture }}">
                        </div>
                    </div>
                </div>

                {% if can_manage %}
                    <a href="{% url 'entrepreneur:general_venture_form' venture.slug %}" class="btn btn-ghost-purple">Settings</a>
                    <br>
                    <br>

                    <a href="{% url 'entrepreneur:job_offer_form' venture.slug %}" class="btn btn-primary">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Create job offer
                </a>
                    <br>
                    <br>
                {% endif %}

                {% get_user_venture_admin_notification user venture as user_venture_admin_notification %}

                {% if user_venture_admin_notification %}
                    <div class="QJAdminnotification">
                        <p>You have a management request for this company.</p>

                        <a href="{% url 'account:admin_notification_reject' user_venture_admin_notification.id %}" class="btn btn-danger">Reject</a>
                        <a href="{% url 'account:admin_notification_accept' user_venture_admin_notification.id %}" class="btn btn-primary">Accept</a>
                    </div>
                {% endif %}

                <div class="QJVentureDetCategories">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <span>{% if venture.industry_categories.count > 1 %}Sectors{% else %}Sector{% endif %}</span>
                        </div>

                        <div class="panel-body">
                            <ul class="QJVentureDetCats">
                            {% for industry_category in venture.industry_categories.all %}
                                <li>{{ industry_category }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="QJVentureDetLocation">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            <span>Location</span>
                        </div>

                        <div class="panel-body">
                            <div>
                                <img src="{{ venture.country.flag }}">
                                <span>{{ venture.country }}</span>
                            </div>

                            <div>
                                <span>{{ venture.city }} {% if venture.state %}, {{ venture.state }}.{% endif %}</span>
                            </div>

                            <div>
                            {% if venture.address %}
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>{{ venture.address }}</span>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if venture.url %}
                <div class="QJVenturWebPage">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <span>Web page</span>
                        </div>

                        <div class="panel-body">
                            <a href="{{ venture.url }}" target="_blank">{{ venture.url }}</a>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if venture.facebook_url or venture.twitter_url or venture.instagram_url or venture.linkedin_url or venture.googleplus_url %}
                <div class="QJVentureDetSocialMedia">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <span>Social media</span>
                        </div>

                        <div class="panel-body text-center">
                            {% if venture.facebook_url %}
                            <a href="{{ venture.facebook_url }}" target="_blank">
                                <i class="fa fa-facebook-f" aria-hidden="true"></i>
                            </a>
                            {% endif %}

                            {% if venture.twitter_url %}
                            <a href="{{ venture.twitter_url }}" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            {% endif %}

                            {% if venture.instagram_url %}
                            <a href="{{ venture.instagram_url }}" target="_blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            {% endif %}

                            {% if venture.linkedin_url %}
                            <a href="{{ venture.linkedin_url }}" target="_blank">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            {% endif %}

                            {% if venture.googleplus_url %}
                            <a href="{{ venture.googleplus_url }}" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if venture.phone_number or venture.email %}
                <div class="QJVentureDetContact">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-address-book-o" aria-hidden="true"></i>
                            <span>Contact</span>
                        </div>

                        <div class="panel-body">
                            {% if venture.phone_number %}
                            <div>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>{{ venture.phone_number }}</span>
                            </div>
                            {% endif %}

                            {% if venture.email %}
                            <div>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>{{ venture.email }}</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-xs-12 col-sm-9">
                <h1>{{ venture }}</h1>

                <div class="QJVentureDetDescription">
                {% if venture.description_en %}
                    <div class="QJRedactorContent">
                        {{ venture.description_en|safe }}
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
