{% load static %}
<nav class="navbar navbar-default main-nav-container is-authenticated">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand logotype-wrapper--authenticated" href="/">
                <img class="logotype-wrapper__image--authenticated" src="{% static 'img/brand-authenticated.svg' %}" alt="Logitpo Query Jane">
            </a>
            <span style="color: white; margin-left: 10px; font-size: 25px;">(Beta)</span>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if user.is_authenticated %}
                {% include 'layout/menu/_navbar_user_menu.html' %}
            {% endif %}
        </div>
    </div>
</nav>