{% load static general_forms widget_tweaks %}
<ul class="nav navbar-nav navbar-right main-nav-items hidden-xs">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle main-nav-items__item" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log in</a>

        <ul class="dropdown-menu">
            <li>
                <div class="dropdown-item qjane-navbar-login-container">
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span>
                        Facebook login
                    </a>

                    {% get_login_form as login_form %}
                    <div class="qjane-login-forms-error-message"></div>

                    <form action="" method="POST" class="qjane-login-form-desktop" data-login-form-url="{% url 'ajax_login_form' %}" data-redirect-url="{% url 'home' %}">
                        <div class="form-group">
                            {% render_field login_form.email class+="form-control" %}
                            {{ login_form.email.errors }}
                        </div>
                        <div class="form-group">
                            {% render_field login_form.password class+="form-control" %}
                            {{ login_form.password.errors }}
                        </div>

                        <a class="btn btn-ghost-purple btn-block mb-xs" href="{% url 'password_reset' %}">Forgot password?</a>
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </form>
                </div>
            </li>
        </ul>
    </li>
</ul>

<div class="row visible-xs">
    <div class="nav-item dropdown qjane-navbar-login-container">
        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span>
            Facebook login
        </a>

        {% get_login_form as login_form %}
        <div class="qjane-login-forms-error-message"></div>

        <form action="" method="POST" class="qjane-login-form-mobile" data-login-form-url="{% url 'ajax_login_form' %}" data-redirect-url="{% url 'home' %}">
            <div class="form-group">
                {% render_field login_form.email class+="form-control" %}
                {{ login_form.email.errors }}
            </div>
            <div class="form-group">
                {% render_field login_form.password class+="form-control" %}
                {{ login_form.password.errors }}
            </div>

            <a class="btn btn-ghost-purple btn-block mb-xs" href="{% url 'password_reset' %}">Forgot password?</a>
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>
    </div>
</div>
