{% load static entrepreneur_tags notifications messages general_forms widget_tweaks i18n %}
<header class="main-nav-container">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">
        <img src="{% static 'dist/img/brand-authenticated.svg' %}" alt="Logitpo Query Jane">
        <span>(BETA)</span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#da-navbarNav" aria-controls="da-navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="da-navbarNav">
        <ul class="navigation-bar navbar-nav ml-auto {% if not user.is_authenticated %}enable-js-active{% endif %}">
        {% if user.is_authenticated %}

      {% get_user_notifications_count user as user_notifications_count %}
      {% get_new_user_notifications_count user as new_user_notifications_count %}
        <li class="dropdown show">
          <a class="nav-link" {% if user_notifications_count %}href="#" data-toggle="dropdown"{% endif %} title="{% trans 'Notifications' %}">

              <i class="fa {% if user_notifications_count %}fa-bell{% else %}fa-bell-slash{% endif %}"></i>

              {% if new_user_notifications_count %}(<span class="NewNotificationsCounter">{{ new_user_notifications_count }}</span>){% endif %}
          </a>

            {% get_recent_user_notifications user as recent_user_notifications %}
            <ul class="dropdown-menu header-notification-list">
          {% for notification in recent_user_notifications %}
              <li class="dropdown-item" data-toggle="modal" data-target="#generalModalMessage">
                <div class="qjane-notification-link" data-notification-url="{% url 'account:ajax_post_notification_load' notification.pk  %}">
                    <div class="media">
                        <i class="JSNotificationStatus fa {% if notification.was_seen %}fa-eye{% else %}fa-eye-slash{% endif %} align-self-center mr-3" title="{% if notification.was_seen %}Viewed notification{% else %}New notification{% endif %}"></i>
                        <div class="media-body align-self-center notification-container">
                            <a href="javascript:void(0)">
                                {{ notification }}
                            </a>
                        </div>
                    </div>
                </div>
              </li>
          {% endfor %}

            {% if user_notifications_count > 10 %}
                <li class="dropdown-item text-center"><a href="{% url 'account:notifications_view' %}">{% trans 'View all' %}</a></li>
            {% endif %}
            </ul>
        </li>

        {% get_user_messages_count user as user_messages_count %}
        {% get_new_user_messages_count user as new_user_messages_count %}
        <li class="dropdown show">
            <a class="nav-link" {% if user_messages_count %}href="#" data-toggle="dropdown"{% endif %} title="{% trans 'Messages' %}">

                <i class="fa {% if new_user_messages_count %}fa-envelope{% else %}fa-inbox{% endif %}"></i>

                {% if new_user_messages_count %}(<span class="NewMessagesCounter">{{ new_user_messages_count }}</span>){% endif %}
            </a>

            {% get_recent_user_conversations user as recent_user_conversations %}
            <ul class="dropdown-menu header-messages-list">
            {% for conversation in recent_user_conversations %}
                <li class="dropdown-item">
                    <div class="JSComposeMessage d-block" data-toggle="modal" data-target="#composeMessageModal" {% if conversation.participating_company %}data-company-to-id="{{ conversation.participating_company.id }}"{% else %}data-user-to-id="{{ conversation.get_last_message.user_from.id }}"{% endif %} data-to-name="{% if conversation.participating_company %}{{ conversation.participating_company }}{% else %}{{ conversation.get_last_message.user_from }}{% endif %}" data-load-conversation-url="{% url 'account:ajax_post_conversation_load' conversation.pk %}">
                        <div class="media">
                            <i class="JSMessagestatus fa {% if conversation.unread %}fa-envelope{% else %}fa-envelope-open{% endif %} align-self-center mr-3" title="{% if message.unread %}{% trans 'New conversation' %}{% else %}{% trans 'Viewed conversation' %}{% endif %}"></i>
                            <div class="media-body align-self-center">
                                <a href="javascript:void(0)">
                                    {% if conversation.get_last_message.company_from %}
                                    From: {{ conversation.get_last_message.company_from }}
                                    {% else %}
                                    From: {{ conversation.get_last_message.user_from }}
                                    {% endif %}

                                    <p class="mb-0">{{ conversation.get_last_message.created_at }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}


            {% if user_messages_count > 10 %}
                <li class="dropdown-item text-center">
                    <a href="{% url 'account:inbox_view' %}">{% trans 'View all' %}</a>
                </li>
            {% endif %}
            </ul>
        </li>

        <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true">{{ user.first_name }}</a>

            <ul class="dropdown-menu">
              <li class="dropdown-item">
                  <a href="{% url 'professional_detail' user.professionalprofile.slug %}">
                      <div class="media">
                        <div class="media-body">
                            {% trans 'Profile' %}
                        </div>
                        <div class="align-self-center ml-3 d-inline fa-container">
                            <i class="fa fa-user"></i>
                        </div>
                      </div>
                  </a>
              </li>

                <li class="dropdown-item">
                    <a href="{% url 'account:profile_update' %}">
                        <div class="media">
                            <div class="media-body">
                                {% trans 'Account' %}
                            </div>
                            <div class="align-self-center ml-3 d-inline fa-container">
                                <i class="fa fa-cog"></i>
                            </div>
                        </div>
                    </a>
                 </li>

                <li class="dropdown-item">
                    <a href="{% url 'account:address_book' %}">
                        <div class="media">
                            <div class="media-body">
                                {% trans 'Address book' %}
                            </div>
                            <div class="align-self-center ml-3 d-inline fa-container">
                                <i class="fa fa-address-book"></i>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="dropdown-item">
                    <a href="{% url 'entrepreneur:venture_form' %}">
                        <div class="media">
                            <div class="media-body">
                                {% trans 'New company' %}
                            </div>
                            <div class="align-self-center ml-3 d-inline fa-container">
                                <i class="fa fa-briefcase"></i>
                            </div>
                        </div>
                    </a>
                </li>
            {% get_user_venture_memberships user as user_venture_memberships %}

            {% if user_venture_memberships %}
            <li class="dropdown-divider"></li>
            {% for membership in user_venture_memberships %}
                <li class="dropdown-item"><a href="{{ membership.venture.get_absolute_url }}">{{ membership.venture }}</a></li>
                <li class="dropdown-divider"></li>
            {% endfor %}
            {% endif %}

            {% if permission_app.manage_admin_views %}
                <li class="dropdown-item">
                    <a href="{% url 'corporative:admin_dashboard' %}">
                        <div class="media">
                            <div class="media-body">
                                {% trans 'Qjane Admin' %}
                            </div>
                            <div class="align-self-center ml-3 d-inline fa-container">
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
            {% endif %}

                <li class="dropdown-item">
                    <a href="{% url 'user_logout' %}">
                        <div class="media">
                            <div class="media-body">
                                {% trans 'Log out' %}
                            </div>
                            <div class="align-self-center ml-3 d-inline fa-container">
                                <i class="fa fa-power-off"></i>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'companies_list' %}">Companies</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'jobs_list' %}">Jobs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_form' %}">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">| Sing up |</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_login' %}">Log in</a>
          </li>

          <li class="nav-item">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as languages %}

          {% for lang_code, lang_name in languages %}
              {% if LANGUAGE_CODE != lang_code %}
              {% language lang_code %}
               <a class="nav-link" href="{% url 'landing_page' %}">
                  | {% if  lang_name == 'Spanish' %}Español{% else %}English{% endif %} |</a>
              {% endlanguage %}
              {% endif %}
          {% endfor %}
          </li>
        {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</header>

{% if user.is_authenticated %}
<!-- Modals -->
<div class="modal fade" id="generalModalMessage" tabindex="-1" role="dialog" aria-labelledby="generalModalMessage" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="composeMessageModal" tabindex="-1" role="dialog" aria-labelledby="composeMessageModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Compose Message' %}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="alert alert-success" role="alert" style="display:none;">
                  {% trans 'Your message has been sent.' %}
                </div>

                {% get_message_form as message_form %}
                <form id="id_send_message_form" method="post" data-send-message-url="{% url 'account:send_user_mesasge' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>
                            {% trans 'New message' %}
                            <span class="QJRequiredField">*</span>
                        </label>

                        {% render_field message_form.user_message class+="form-control" %}
                        {{ message_form.user_message.errors }}
                    </div>

                    <div style="display:none;">
                        {% render_field message_form.user_to_id %}
                        {% render_field message_form.company_to_id %}
                        {% render_field message_form.company_from_id %}
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">{% trans 'Send' %}</button>
                </form>

                <div id="JSconversationDetail"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}
