{% load static i18n %}
<li class="media">
    <div class="media-left">
        <a href="{% url 'professional_detail' membership.admin.slug %}">
            <img style="width: 50px; height: 50px" class="media-object" src="{{ membership.admin.user.get_avatar }}" alt="{{ membership.admin }}">
        </a>
    </div>

    <div class="media-body">
        <h4 class="media-heading">{{ membership.admin.get_print }}</h4>
        <p>{{ membership.admin.slug }}</p>
        <p>{{ membership.get_role_display }}</p>
    </div>

    <div class="media-right js_qjane_action">
        <p>{{ membership.get_status_display }}</p>

    {% if membership.is_rejected %}
        <a href="javascript:void(0)" class="btn btn-primary js_qjane_resend_admin_invitation" data-resend-admin-invitation-url="{% url 'account:admin_notification_resend' membership.invitation.id %}">{% trans 'Resend' %}</a>
    {% endif %}
    </div>
</li>
