{% load static i18n entrepreneur_tags %}
<li class="media">
    <div class="mr-3">
        <a href="{% url 'professional_detail' membership.admin.slug %}">
            <img style="width: 50px; height: 50px" class="media-object" src="{{ membership.admin.user.get_avatar }}" alt="{{ membership.admin }}">
        </a>
    </div>

    <div class="media-body">
        <h4>{{ membership.admin.get_print }}</h4>
        <p>{{ membership.admin.slug }}</p>
        <p>{{ membership.get_role_display }}</p>
    </div>

    <div class="ml-3 js_membership_action">
        <p>{{ membership.get_status_display }}</p>

    {% if membership.is_rejected %}
        <a href="javascript:void(0)" class="btn btn-outline-primary js_qjane_resend_admin_invitation" data-resend-admin-invitation-url="{% url 'account:admin_notification_resend' membership.invitation.id %}" title="{% trans 'Resend' %}"><i class="fas fa-reply"></i></a>
    {% endif %}


      {% get_can_delete_membership user membership as can_delete_membership %}
      {% if can_delete_membership %}
      <div>
        <a href="javascript:void(0)" class="btn btn-outline-warning js_qjane_membership_delete" data-delete-membership-url="{% url 'entrepreneur:delete_membership' membership.id %}" title="{% trans 'Delete membership' %}"><i class="fas fa-trash-alt"></i></a>
      </div>
      {% endif %}
    </div>
</li>
