{% extends "layout/base.html" %}
{% load static widget_tweaks i18n %}

{% block title %}{{ company }} - {% trans 'Contact settings' %}{% endblock %}

{% block content %}
<section class="account qjane-venture-settings">
    <div class="container py-4">
        <div class="row">
            {% include 'entrepreneur/venture_settings/settings_menu.html' %}

            <div class="col-md-9 QjaneVentuerSettingsContent">
                <div class="card rounded-0 border-0 mb-4">
                    <div class="card-header bg-qj-purple rounded-0">
                        <h3 class="h5 m-0 text-white">{% trans 'Contact information' %}</h3>
                    </div>
                    <div class="card-body border border-muted border-top-0 QjaneVentureContactForm">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <form method="POST" id="id_venture_contact_form" data-venture-contact-form-url="{% url 'entrepreneur:ax_contact_venture_form' company.id %}">
                                    {% csrf_token %}
                                    <div>
                                        <label>
                                        {{ contact_form.email.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field contact_form.email class+="form-control" %}
                                        {{ contact_form.email.errors }}
                                        </div>
                                    </div>

                                    <div>
                                        <label>
                                        {{ contact_form.phone_number.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field contact_form.phone_number class+="form-control" %}
                                        {{ contact_form.phone_number.errors }}
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                                </form>
                            </div>

                            <div class="col-12 col-md-6">
                                <p>{% trans 'Email and phone number will be public.' %}</p>
                                <div class="alert alert-success" role="alert" style="display:none;">{% trans 'Contact data updated correctly.' %}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card rounded-0 border-0 mb-4">
                    <div class="card-header bg-qj-purple rounded-0">
                        <h3 class="h5 m-0 text-white">{% trans 'Location' %}</h3>
                    </div>
                    <div class="card-body border border-muted border-top-0 QjaneVentureLocationForm">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="alert alert-success" role="alert" style="display:none;">{% trans 'Contact data updated correctly.' %}</div>
                                <div class="alert alert-danger" role="alert" style="display:none;">{% trans 'There are errors in the form. Make sure that the city corresponds to the country you have chosen.' %}</div>

                                <form method="POST" id="id_venture_location_form" data-venture-location-form-url="{% url 'entrepreneur:ax_location_venture_form' company.id %}">
                                    {% csrf_token %}

                                    <div id="id_QjaneVFcountryAut" class="form-group country-field" data-country-autocomplete-url="{% url 'place:country_search' %}">
                                        <label>
                                            {% trans 'Country' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>
                                        <div class="country-field__typeahead">
                                            {% render_field location_form.country_search class+="form-control" %}

                                            <img class="country-field__typeahead__flag-icon" id="id_QjaneVFcountryAutImg" src="{{ country_instance.flag }}">

                                            <p>{{ location_form.country_search.errors }}</p>
                                        </div>
                                    </div>

                                    <div class="form-group" style="display:none;">
                                        {% render_field location_form.country_code %}
                                        <p>{{ location_form.country_code.errors }}</p>
                                    </div>

                                    <div id="id_QjaneVFcityAut" class="form-group city-field" data-ax-city-create-url="{% url 'place:ax_city_create' %}" data-ax-city-autocomplete-url="{% url 'place:city_search' %}">
                                        <label>
                                            {% trans 'City' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>
                                        <div class="city-field__typeahead">
                                            {% render_field location_form.city_search class+="form-control" %}
                                            <i class="fa fa-spinner fa-pulse fa-fw city-field__typeahead__spinner-icon QjaneShareGPSloading" style="display: none;"></i>
                                            <a class="fa fa-paper-plane city-field__typeahead__send-icon QjaneShareGPSfigure" aria-hidden="true" href="javascript:void(0)" title="Obtener por ubicación"></a>
                                            <p>{{ location_form.city_search.errors }}</p>

                                            <p class="QJgUbicationMessage">{% trans 'If when writing the name of the city, it does not appear available in the list,' %} <a href="javascript:void(0)" class="QjaneShareGPStext">{% trans 'please, allow us to try to obtain your location' %}</a> {% trans 'and register it in the application.' %}</p>
                                        </div>

                                        <div class="form-group" style="display:none;">
                                            {% render_field location_form.city_id %}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            {% trans 'Address' %} <i>({% trans 'Address will be public' %})</i>
                                        </label>
                                        <div>
                                            {% render_field location_form.address class+="form-control" %}
                                            <p>{{ location_form.address.errors }}</p>
                                        </div>

                                        <div style="display:none;">
                                            {% render_field location_form.coordinates %}
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                                </form>
                            </div>

                            <div class="col-12 col-md-6">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card rounded-0 border-0">
                    <div class="card-header bg-qj-purple rounded-0">
                        <h3 class="h5 m-0 text-white">{% trans 'Social media' %}</h3>
                    </div>
                    <div class="card-body border border-muted border-top-0 QJVentureMediaUpdate">
                        <div class="alert alert-success" role="alert" style="display:none;">{% trans 'Social media information updted correctly.' %}</div>
                        <form method="POST" id="id_venture_media_form" data-venture-media-form-url="{% url 'entrepreneur:ax_media_venture_form' company.id %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>
                                        {{ media_form.url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.url class+="form-control" %}
                                        {{ media_form.url.errors }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                        {{ media_form.facebook_url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.facebook_url class+="form-control" %}
                                        {{ media_form.facebook_url.errors }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                        {{ media_form.twitter_url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.twitter_url class+="form-control" %}
                                        {{ media_form.twitter_url.errors }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>
                                        {{ media_form.instagram_url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.instagram_url class+="form-control" %}
                                        {{ media_form.instagram_url.errors }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                        {{ media_form.linkedin_url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.linkedin_url class+="form-control" %}
                                        {{ media_form.linkedin_url.errors }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                        {{ media_form.googleplus_url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.googleplus_url class+="form-control" %}
                                        {{ media_form.googleplus_url.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'dist/js/entrepreneur/contact_venture_form.min.js' %}"></script>
{% endblock %}

