{% extends "layout/base.html" %}
{% load static widget_tweaks i18n %}

{% block title %}{{ company }} - {% trans 'Contact settings' %}{% endblock %}

{% block css %}
<link href="{% static 'dist/css/layout/layout.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="account qjane-venture-settings">
    <div class="container py-4">
        <div class="row">
            {% include 'entrepreneur/venture_settings/settings_menu.html' %}

            <div class="col-md-9 QjaneVentuerSettingsContent">
                <div class="card rounded-0 border-0 mb-4">
                    <div class="card-header bg-qj-purple rounded-0">
                        <h3 class="h5 m-0 text-white">{% trans 'Contact information' %}</h3>
                    </div>
                    <div class="card-body border border-muted border-top-0 QjaneVentureContactForm">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <form method="POST" id="id_venture_contact_form" data-venture-contact-form-url="{% url 'entrepreneur:ax_contact_venture_form' company.id %}">
                                    {% csrf_token %}
                                    <div>
                                        <label>
                                        {{ contact_form.email.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field contact_form.email class+="form-control" %}
                                        {{ contact_form.email.errors }}
                                        </div>
                                    </div>

                                    <div>
                                        <label>
                                        {{ contact_form.phone_number.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field contact_form.phone_number class+="form-control" %}
                                        {{ contact_form.phone_number.errors }}
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                                </form>
                            </div>

                            <div class="col-12 col-md-6">
                                <p>{% trans 'Email and phone number will be public.' %}</p>
                                <div class="alert alert-success" role="alert" style="display:none;">{% trans 'Contact data updated correctly.' %}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card rounded-0 border-0 mb-4">
                    <div class="card-header bg-qj-purple rounded-0">
                        <h3 class="h5 m-0 text-white">{% trans 'Location' %}</h3>
                    </div>
                    <div class="card-body border border-muted border-top-0 QjaneVentureLocationForm">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="alert alert-success" role="alert" style="display:none;">{% trans 'Contact data updated correctly.' %}</div>
                                <div class="alert alert-danger" role="alert" style="display:none;">{% trans 'There are errors in the form. Make sure that the city corresponds to the country you have chosen.' %}</div>

                                <form method="POST" id="id_venture_location_form" data-venture-location-form-url="{% url 'entrepreneur:ax_location_venture_form' company.id %}">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label>
                                            {% trans 'Country' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>

                                        <img id="id_country_flag" src="{{ country_instance.flag }}" data-url="{% url 'place:country_flag'%}">

                                        {% render_field location_form.country %}
                                        <p>{{ location_form.country.errors }}</p>
                                    </div>

                                    <div class="form-group" id="id_state_field_container" data-get-options-url="{% url 'place:get_state_options' %}">
                                        <label>
                                            {% trans 'State' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>

                                        {% render_field location_form.state %}
                                        <p>{{ location_form.state.errors }}</p>
                                    </div>

                                    <div class="form-group" id="id_city_field_container" data-get-options-url="{% url 'place:get_city_options' %}">
                                        <label>
                                            {% trans 'City' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>

                                        {% render_field location_form.city %}
                                        <p>{{ location_form.city.errors }}</p>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            {% trans 'Address' %} <i>({% trans 'Address will be public' %})</i>
                                        </label>
                                        <div>
                                            {% render_field location_form.address class+="form-control" %}
                                            <p>{{ location_form.address.errors }}</p>
                                        </div>

                                        <div style="display:none;">
                                            {% render_field location_form.coordinates %}
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                                </form>
                            </div>

                            <div class="col-12 col-md-6">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card rounded-0 border-0">
                    <div class="card-header bg-qj-purple rounded-0">
                        <h3 class="h5 m-0 text-white">{% trans 'Social media' %}</h3>
                    </div>
                    <div class="card-body border border-muted border-top-0 QJVentureMediaUpdate">
                        <div class="alert alert-success" role="alert" style="display:none;">{% trans 'Social media information updted correctly.' %}</div>
                        <form method="POST" id="id_venture_media_form" data-venture-media-form-url="{% url 'entrepreneur:ax_media_venture_form' company.id %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>
                                        {{ media_form.url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.url class+="form-control" %}
                                        {{ media_form.url.errors }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                        {{ media_form.facebook_url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.facebook_url class+="form-control" %}
                                        {{ media_form.facebook_url.errors }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                        {{ media_form.twitter_url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.twitter_url class+="form-control" %}
                                        {{ media_form.twitter_url.errors }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>
                                        {{ media_form.instagram_url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.instagram_url class+="form-control" %}
                                        {{ media_form.instagram_url.errors }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                        {{ media_form.linkedin_url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.linkedin_url class+="form-control" %}
                                        {{ media_form.linkedin_url.errors }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                        {{ media_form.googleplus_url.label_tag }}
                                        </label>
                                        <div class="form-group">
                                        {% render_field media_form.googleplus_url class+="form-control" %}
                                        {{ media_form.googleplus_url.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'dist/js/entrepreneur/contact_venture_form.min.js' %}"></script>
<script src="{% static 'js/place/location_fields.js' %}"></script>
{% endblock %}

