{% extends "layout/base.html" %}
{% load static widget_tweaks i18n %}

{% block title %}{{ company }} - {% trans 'Job offer form' %}{% endblock %}

{% block css %}
<link href="{% static 'dist/css/entrepreneur/job_offer_form.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="account qjane-venture-settings">
    <div class="container py-4">
        <div class="row">
            {% include 'entrepreneur/venture_settings/settings_menu.html' %}

            <div class="col-md-9 QjaneVentuerSettingsContent">
                {% if company.is_inactive %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ company }}</strong> {% trans "is inactive. If you want to create a job offer, before you must activate it." %}

                    <a href="{% url 'entrepreneur:general_venture_form' company.slug %}#id_activate_container">{% trans "Go to activate" %} {{ company }}.</a>
                </div>
                {% else %}
                <div class="alert alert-info" role="alert">{% trans 'Job offers will be automatically closed 60 days after created.' %}</div>

                <div class="card rounded-0 border-0">
                    <div class="card-header bg-qj-purple rounded-0">
                        <h3 class="h5 m-0 text-white">
                            {% trans 'Create new job offer' %}
                        </h3>
                    </div>
                    <div class="card-body border border-muted border-top-0 QjaneVentureJobOfferForm">
                        <form method="POST">
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label>
                                    {{ form.title.label }}
                                    <span class="QJRequiredField">*</span>
                                </label>

                                <div>
                                    {% render_field form.title class+="form-control" %}
                                    <p>{{ form.title.errors }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    {{ form.job_type.label }}
                                    <span class="QJRequiredField">*</span>
                                </label>

                                <div>
                                    {% render_field form.job_type class+="form-control" %}
                                    <p>{{ form.job_type.errors }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    {{ form.description.label }}
                                    <span class="QJRequiredField">*</span>
                                </label>
                                <p><i>{% trans 'Add a very detailed description of the job offer.' %}</i></p>
                                <div id="rich_editor_description"></div>

                                <p>{{ form.description.errors }}</p>

                                <div style="display:none;">
                                    {% render_field form.description %}
                                    {% render_field form.industry_categories %}
                                </div>
                            </div>

                            <div class="IndustryCategoriesList">
                                <p>{% trans 'Select the sector or sectors of your job offer.' %}</p>

                                {% get_current_language as LANGUAGE_CODE %}

                                <ul class="qjane-industry-categories-list">
                                    {% for industry_category in industry_categories %}
                                    <li>
                                        <a class="btn btn-ghost-purple" href="javascript:void(0)" data-category-id="{{ industry_category.id }}">
                                        {% if LANGUAGE_CODE == 'es' %}
                                        {{ industry_category.name_es }}
                                        {% else %}
                                        {{ industry_category.name_en }}
                                        {% endif %}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>

                                <p>{{ form.industry_categories.errors }}</p>
                            </div>

                            <br>

                            <p class="h4">{% trans 'Where is the job?' %}</p>
                            <p>{% trans 'Fill these fields only if it is necessary for the applicant to live or move to a specific country, state or city.' %}</p>

                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <label>
                                            {% trans 'Country' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>

                                        <img id="id_country_flag" src="{{ country_instance.flag }}" data-url="{% url 'place:country_flag'%}">

                                        {% render_field form.country %}
                                        <p>{{ form.country.errors }}</p>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12">
                                    <div class="form-group" id="id_state_field_container" data-get-options-url="{% url 'place:get_state_options' %}">
                                        <label>
                                            {% trans 'State' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>

                                        {% render_field form.state %}
                                        <p>{{ form.state.errors }}</p>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12">
                                    <div class="form-group" id="id_city_field_container" data-get-options-url="{% url 'place:get_city_options' %}">
                                        <label>
                                            {% trans 'City' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>

                                        {% render_field form.city %}
                                        <p>{{ form.city.errors }}</p>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'dist/js/entrepreneur/job_offer_form.min.js' %}"></script>
<script src="{% static 'js/place/location_fields.js' %}"></script>
{% endblock %}

