{% extends "layout/index.html" %}
{% load static widget_tweaks i18n %}

{% block title %}{{ company }} - {% trans 'Job offer form' %}{% endblock %}

{% block css %}
<link href="{% static 'dist/css/entrepreneur/job_offer_form.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="account qjane-venture-settings">
    <div class="container">
        <div class="row">
            {% include 'entrepreneur/venture_settings/settings_menu.html' %}

            <div class="col-md-9 QjaneVentuerSettingsContent">
                {% if company.is_inactive %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ company }}</strong> {% trans "is inactive. If you want to create a job offer, before you must activate it." %}

                    <a href="{% url 'entrepreneur:general_venture_form' company.slug %}#id_activate_container">{% trans "Go to activate" %} {{ company }}.</a>
                </div>
                {% else %}
                <div class="alert alert-info" role="alert">{% trans 'Job offers will be automatically closed 60 days after created.' %}</div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Create new job offer' %}</h3>
                    </div>

                    <div class="panel-body QjaneVentureJobOfferForm">
                        <form method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <label>
                                    {{ form.title.label }}
                                    <span class="QJRequiredField">*</span>
                                </label>

                                <div>
                                    {% render_field form.title class+="form-control" %}
                                    <p>{{ form.title.errors }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    {{ form.job_type.label }}
                                    <span class="QJRequiredField">*</span>
                                </label>

                                <div>
                                    {% render_field form.job_type class+="form-control" %}
                                    <p>{{ form.job_type.errors }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    {{ form.description.label }}
                                    <span class="QJRequiredField">*</span>
                                </label>
                                <p><i>{% trans 'Add a very detailed description of the job offer.' %}</i></p>
                                <div id="rich_editor_description"></div>

                                <p>{{ form.description.errors }}</p>

                                <div style="display:none;">
                                    {% render_field form.description %}
                                    {% render_field form.industry_categories %}
                                </div>
                            </div>

                            <div class="IndustryCategoriesList">
                                <p>{% trans 'Select the sector or sectors of your job offer.' %}</p>

                                {% get_current_language as LANGUAGE_CODE %}

                                <ul class="qjane-industry-categories-list">
                                    {% for industry_category in industry_categories %}
                                    <li>
                                        <a class="btn btn-ghost-purple" href="javascript:void(0)" data-category-id="{{ industry_category.id }}">
                                        {% if LANGUAGE_CODE == 'es' %}
                                        {{ industry_category.name_es }}
                                        {% else %}
                                        {{ industry_category.name_en }}
                                        {% endif %}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>

                                <p>{{ form.industry_categories.errors }}</p>
                            </div>

                            <br>

                            <p class="h4">{% trans 'Where is the job?' %}</p>
                            <p>{% trans 'Fill these fields only if it is necessary for the applicant to live or move to a specific country or city.' %}</p>

                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div id="id_QjaneVFcountryAut" class="form-group country-field" data-country-autocomplete-url="{% url 'place:country_search' %}">
                                        <label>
                                            {% trans 'Country' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>
                                        <div class="country-field__typeahead">
                                            {% render_field form.country_search  class+="form-control" %}

                                            <img id="id_QjaneVFcountryAutImg" class="country-field__typeahead__flag-icon" src="{{ country_instance.flag }}">

                                            <p>{{ form.country_search.errors }}</p>
                                        </div>
                                    </div>

                                    <div class="form-group" style="display:none;">
                                        {% render_field form.country_code %}
                                        <p>{{ form.country_code.errors }}</p>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div id="id_QjaneVFcityAut" class="form-group city-field" data-ax-city-create-url="{% url 'place:ax_city_create' %}" data-ax-city-autocomplete-url="{% url 'place:city_search' %}">
                                        <label>
                                            {% trans 'City' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>
                                        <div class="city-field__typeahead">
                                            {% render_field form.city_search  class+="form-control" %}
                                            <i class="fa fa-spinner fa-pulse fa-fw city-field__typeahead__spinner-icon QjaneShareGPSloading" style="display: none;"></i>
                                            <a class="fa fa-paper-plane city-field__typeahead__send-icon QjaneShareGPSfigure" aria-hidden="true" href="javascript:void(0)" title="Obtener por ubicación"></a>
                                            <p>{{ form.city_search.errors }}</p>

                                            <p class="QJgUbicationMessage">{% trans 'If when writing the name of the city, it does not appear available in the list,' %} <a href="javascript:void(0)" class="QjaneShareGPStext">{% trans 'Please, allow us to try to obtain your location' %}</a> {% trans 'and register it in the application.' %}</p>
                                        </div>

                                        <div class="form-group" style="display:none;">
                                            {% render_field form.city_id %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'dist/js/place/show_position.min.js' %}"></script>
<script src="{% static 'dist/js/entrepreneur/job_offer_form.min.js' %}"></script>
<script src="{% static 'dist/js/place/place_autocomplete.min.js' %}"></script>
{% endblock %}

