{% extends "layout/base.html" %}
{% load static widget_tweaks i18n %}

{% block title %}{{ company }} - {% trans 'Members settings' %}{% endblock %}

{% block content %}
<section class="account qjane-venture-settings" data-venture-slug="{{ company.slug }}">
    <div class="container py-4">
        <div class="row">
            {% include 'entrepreneur/venture_settings/settings_menu.html' %}

            <div class="col-md-9 QjaneVentuerSettingsContent">
                <div class="card rounded-0 border-0 mb-4">
                    <div class="card-header bg-qj-purple rounded-0">
                        <h3 class="h5 m-0 text-white">Roles</h3>
                    </div>
                    <div class="card-body border border-muted border-top-0">
                        <ul class="media-list qjane-venture-roles-list">
                        {% for membership in memberships %}
                            {% include 'entrepreneur/venture_settings/_membership_line.html' %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>

                {% if company.is_inactive %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ company }}</strong> {% trans "is inactive. If you want to create a membership, before you must activate it." %}

                    <a href="{% url 'entrepreneur:general_venture_form' company.slug %}#id_activate_container">{% trans "Go to activate" %} {{ company }}.</a>
                </div>
                {% else %}
                <div class="panel panel-default qjane-role-search">
                    <div class="panel-body">
                        <h4>{% trans 'Search by name, email or username.' %}</h4>

                        <p>{% trans 'Search your partners and allow them to administrate' %} <strong>{{ company }}.</strong></p>
                    </div>

                    <div class="row" style="padding-bottom: 50px;">
                        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
                            <form class="qjane-userprofile-autocomplete-form" data-profile-autocomplete-url="{% url 'account:profile-search' %}" data-membership-line-url="{% url 'entrepreneur:membership_line_url' %}" data-send-role-invitation-url="{% url 'entrepreneur:roles_venture_form' company.slug %}">
                                <div class="form-group">
                                {% render_field userprofile_form.userprofile class+="form-control" %}
                                {{ userprofile_form.userprofile.errors }}
                                </div>
                            </form>

                            <p class="qjane-add-membership-error"></p>
                            <button type="submit" class="hide btn btn-warning btn-sm qjane-cancel-role-search">{% trans 'New search' %}</button>
                        </div>
                    </div>

                    <div>
                        <ul class="media-list qjane-venture-new-role-list-to-confirm"></ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'dist/js/entrepreneur/role_userprofile_autocomplete.min.js' %}"></script>
{% endblock %}
