{% load i18n %}
<div class="col-md-3">
    <div>
        <h4 class="h3 mt-xxs mb-s">
            <a class="text-primary" href="{{ company.get_absolute_url }}">
                <i class="fa fa-building" aria-hidden="true"></i>
                {{ company }}
            </a>
        </h4>
    </div>

    <ul class="list-group QjaneVentureSettingsMenu">
        <li class="list-group-item {% if general_active %}active{% endif %}">
            <a href="{% url 'entrepreneur:general_venture_form' company.slug %}" class="clearfix">
                <span class="float-left">{% trans 'General' %}</span>
                <i class="fa fa-cog float-right" aria-hidden="true"></i>
            </a>
        </li>

        <li class="list-group-item {% if contact_active %}active{% endif %}">
            <a href="{% url 'entrepreneur:contact_venture_form' company.slug %}" class="clearfix">
                <span class="float-left">{% trans 'Contact' %}</span>
                <i class="fa fa-phone float-right" aria-hidden="true"></i>
        </a>
        </li>

        <li class="list-group-item {% if roles_active %}active{% endif %}">
            <a href="{% url 'entrepreneur:roles_venture_form' company.slug %}" class="clearfix">
                <span class="float-left">{% trans 'Members' %}</span>
                <i class="fa fa-users float-right" aria-hidden="true"></i>
            </a>
        </li>

        <li class="list-group-item {% if messages_active %}active{% endif %}">
            <a href="{% url 'entrepreneur:messages_adim' company.slug %}" class="clearfix">
                <span class="float-left">{% trans 'Messages' %}</span>
                <i class="fa fa-envelope float-right" aria-hidden="true"></i>
            </a>
        </li>

        <li class="list-group-item {% if jobs_active %}active{% endif %}">
            <a href="{% url 'entrepreneur:job_offers_list' company.slug %}" class="clearfix">
                <span class="float-left">{% trans 'Job Offers' %}</span>
                <i class="fa fa-industry float-right" aria-hidden="true"></i>
            </a>
        </li>

        {% comment %}
        <li class="list-group-item {% if privacy_active %}active{% endif %}">
            <a href="{% url 'entrepreneur:privacy_venture_form' company.slug %}" class="clearfix">
                <span class="float-left">{% trans 'Privacy' %}</span>
                <i class="fa fa-user-secret float-right" aria-hidden="true"></i>
            </a>
        </li>
        {% endcomment %}
    </ul>
</div>
