{% extends "layout/index.html" %}
{% load static widget_tweaks i18n %}

{% block title %}{% trans 'Register company' %}{% endblock %}

{% block css %}
<link href="{% static 'dist/css/entrepreneur/venture_form.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="account qjane-venture-create">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">{% trans 'REGISTER COMPANY' %}</h2>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 offset-md-1 QjaneVFHeaderText">
<!--                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus ante nulla, ac blandit nunc ultricies non. Sed cursus lorem quis faucibus mattis. Aliquam nec nunc sapien. -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="QjaneVFContainer">
                            <form method="POST">
                                {% csrf_token %}

                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-md-6 col-12 form-group">
                                        <div class="form-group">
                                            <label>
                                                {% trans 'Company name' %}
                                                <span class="QJRequiredField">*</span>
                                            </label>

                                            <div>
                                                {% render_field form.name class+="form-control" %}
                                                <p>{{ form.name.errors }}</p>
                                            </div>
                                        </div>


                                        <div id="id_QjaneVFcountryAut" class="form-group country-field" data-country-autocomplete-url="{% url 'place:country_search' %}">
                                            <label>
                                                {% trans 'Country' %}
                                                <span class="QJRequiredField">*</span>
                                            </label>
                                            <div class="country-field__typeahead">
                                                {% render_field form.country_search  class+="form-control" %}

                                                <img id="id_QjaneVFcountryAutImg" class="country-field__typeahead__flag-icon" src="{{ country_instance.flag }}">

                                                <p>{{ form.country_search.errors }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group" style="display:none;">
                                            {% render_field form.country_code %}
                                            <p>{{ form.country_code.errors }}</p>
                                        </div>

                                        <div id="id_QjaneVFcityAut" class="form-group city-field" data-ax-city-create-url="{% url 'place:ax_city_create' %}" data-ax-city-autocomplete-url="{% url 'place:city_search' %}">
                                            <label>
                                                {% trans 'City' %}
                                                <span class="QJRequiredField">*</span>
                                            </label>
                                            <div class="city-field__typeahead">
                                                {% render_field form.city_search  class+="form-control" %}
                                                <i class="fa fa-spinner fa-pulse fa-fw city-field__typeahead__spinner-icon QjaneShareGPSloading" style="display: none;"></i>
                                                <a class="fa fa-paper-plane city-field__typeahead__send-icon QjaneShareGPSfigure" aria-hidden="true" href="javascript:void(0)" title="Obtener por ubicación"></a>
                                                <p>{{ form.city_search.errors }}</p>

                                                <p class="QJgUbicationMessage">{% trans 'If when writing the name of the city, it does not appear available in the list,' %} <a href="javascript:void(0)" class="QjaneShareGPStext">{% trans 'Please, allow us to try to obtain your location' %}</a> {% trans 'and register it in the application.' %}</p>
                                            </div>

                                            <div class="form-group" style="display:none;">
                                                {% render_field form.city_id %}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                {% trans 'Address' %} <i>({% trans 'Address will be public.' %})</i>
                                            </label>
                                            <div>
                                                {% render_field form.address  class+="form-control" %}
                                                <p>{{ form.address.errors }}</p>
                                            </div>

                                            <div style="display: none;">
                                                {% render_field form.coordinates %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        <p>{% trans 'Select your company sector or sectors in the industry.' %}</p>

                                        <ul class="qjane-industry-categories-list">
                                            {% for industry_category in industry_categories %}
                                            <li>
                                                <a class="btn btn-ghost-purple" href="javascript:void(0)" data-category-id="{{ industry_category.id }}">
                                                {% if LANGUAGE_CODE == 'es' %}
                                                {{ industry_category.name_es }}
                                                {% else %}
                                                {{ industry_category.name_en }}
                                                {% endif %}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>

                                        <p>{{ form.industry_categories.errors }}</p>
                                    </div>
                                </div>

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{% trans 'Company description' %}</h3>
                                    </div>

                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label>
                                                {% trans 'English description' %}
                                                <span class="QJRequiredField">*</span>
                                            </label>
                                            <p><i>{% trans 'Add a very detailed description of your company.' %}</i></p>
                                            <div id="rich_editor_description_en"></div>
                                            <p>{{ form.description_en.errors }}</p>
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                {% trans 'Spanish description' %}
                                                <span class="QJRequiredField">*</span>
                                            </label>
                                            <p><i>{% trans 'Add a very detailed description of your company.' %}</i></p>
                                            <div id="rich_editor_description_es"></div>
                                            <p>{{ form.description_es.errors }}</p>
                                        </div>

                                        <div class="form-group" style="display:none;">
                                            {% render_field form.description_en %}
                                            {% render_field form.description_es %}
                                            {% render_field form.industry_categories %}
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{% trans 'Social media' %}</h3>
                                    </div>

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>{% trans 'Web' %}</label>

                                                    <div>
                                                        {% render_field form.url class+="form-control" %}
                                                        <p>{{ form.url.errors }}</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Facebook</label>

                                                    <div>
                                                        {% render_field form.facebook_url class+="form-control" %}
                                                        <p>{{ form.facebook_url.errors }}</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Twitter</label>

                                                    <div>
                                                        {% render_field form.twitter_url class+="form-control" %}
                                                        <p>{{ form.twitter_url.errors }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Instagram</label>

                                                    <div>
                                                        {% render_field form.instagram_url class+="form-control" %}
                                                        <p>{{ form.instagram_url.errors }}</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Linkedin</label>

                                                    <div>
                                                        {% render_field form.linkedin_url class+="form-control" %}
                                                        <p>{{ form.linkedin_url.errors }}</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Google Plus</label>

                                                    <div>
                                                        {% render_field form.googleplus_url class+="form-control" %}
                                                        <p>{{ form.googleplus_url.errors }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">{% trans 'Next' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'dist/js/place/show_position.min.js' %}"></script>
<script src="{% static 'dist/js/entrepreneur/venture_form.min.js' %}"></script>
<script src="{% static 'dist/js/place/place_autocomplete.min.js' %}"></script>
{% endblock %}

