{% load i18n %}
<div class="modal-header">
    <h5 class="modal-title">
        {% trans 'Message from' %} {{ message.user_from }}
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

  <div class="modal-body">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#messageDetail">{% trans 'Message detail' %}</a>
      </li>
      <li><a data-toggle="tab" href="#messageDetailConversation">{% trans 'Full conversation' %}</a></li>
    </ul>

    <div class="tab-content">
      <div id="messageDetail" class="tab-pane fade in active">
        <p>{{ message.created_at }}</p>
        <p>{{ message.message }}</p>
      </div>
      <div id="messageDetailConversation" class="tab-pane fade">
        {% include 'modals/conversation_table.html' %}
      </div>
    </div>
  </div>

<div class="modal-footer">
    <a href="{% url 'professional_detail' message.user_from.professionalprofile.slug %}">
      {% blocktrans %}Visit {{ message.user_from.first_name}}'s profile{% endblocktrans %}
    </a>.
</div>
