<div class="modal-header">
    <h5 class="modal-title">
    {% if notification.is_new_entrepreneur_admin or notification.is_interest_job_offer  %}
        {{ notification.venture_from }}
    {% endif %}
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

  <div class="modal-body">
{% if notification.is_new_entrepreneur_admin %}
    <p>
        {{ notification.membership.created_by }} has sent you an invitation to administer <strong>{{ notification.membership.venture }}</strong>.
    </p>
{% elif notification.is_interest_job_offer %}
    <p>
        <strong>{{ notification.venture_from }}</strong> has published a job offer that may interest you.
    </p>
{% endif %}
  </div>

<div class="modal-footer">
{% if notification.is_new_entrepreneur_admin %}
    {% if notification.answered %}
    <span>{{ notification.membership.get_status_display }}</span>
    {% else %}
    <a href="{{ notification.venture_from.get_absolute_url }}" class="btn btn-primary">Answer</a>
    {% endif %}
{% elif notification.is_interest_job_offer %}
    <a href="{{ notification.job_offer.get_absolute_url }}" class="btn btn-primary">Check it out</a>
{% endif %}
</div>
