{% load i18n legal_item_tags notifications entrepreneur_tags %}
<div class="modal-header">
    <h5 class="modal-title">
    {% if notification.is_new_entrepreneur_admin or notification.is_interest_job_offer or notification.is_new_job_offer_applicants or notification.is_old_job_offer_closed or notification.is_company_deactivation  %}
        {{ notification.venture_from }}
    {% elif notification.is_new_message_to_company or notification.is_new_score_to_company %}
        {{ notification.venture_to }}
    {% elif notification.is_company_elimination %}
        {% trans 'A company that you manage has been eliminated.' %}
    {% elif notification.is_updated_user_agreement or notification.is_updated_privacy_policy %}
        {{ notification.description }}
    {% endif %}
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

  <div class="modal-body">
{% if notification.is_new_entrepreneur_admin %}
    <p>
        {{ notification.membership.created_by }} has sent you an invitation to administer <strong>{{ notification.membership.venture }}</strong>.
    </p>
{% elif notification.is_interest_job_offer %}
    <p>
        <strong>{{ notification.venture_from }}</strong> has published a job offer that may interest you.
    </p>
{% elif notification.is_new_job_offer_applicants %}
    <p>
        There are new applicants for <strong>"{{ notification.job_offer }}"</strong>
    </p>
{% elif notification.is_new_message_to_company %}
    <p>
        <strong>{{ notification.venture_to }}</strong> has received a new message.
    </p>
{% elif notification.is_new_score_to_company %}
    <p>
        <strong>{{ notification.venture_to }}</strong> has been scored by an user.
    </p>
{% elif notification.is_updated_user_agreement %}
    {% get_legal_item_description 'user-agreement' as item_description %}
    {{ item_description|safe }}
{% elif notification.is_updated_privacy_policy %}
    {% get_legal_item_description 'privacy-policy' as item_description %}
    {{ item_description|safe }}
{% elif notification.is_old_job_offer_closed %}
    <p>
        The job offer <strong>{{ notification.job_offer }}</strong> was created more than 60 days ago. For this reason, it will be automatically closed.
    </p>
{% elif notification.is_company_deactivation %}
    <p>
        <strong>{{ notification.venture_from }}</strong> has been deactivated by {{ notification.created_by }}.
    </p>
{% elif notification.is_company_elimination %}
    <p>
       {{ notification.description }} 
    </p>
{% endif %}
  </div>

<div class="modal-footer">
{% if notification.is_new_entrepreneur_admin %}
    {% get_is_company_administrator notification.venture_from as is_company_administrator %}
    {% if is_company_administrator %}
    <span>{{ notification.membership.get_status_display }}</span>
    {% else %}
    <a href="{{ notification.venture_from.get_absolute_url }}" class="btn btn-primary">{% trans 'Answer' %}</a>
    {% endif %}
{% elif notification.is_interest_job_offer or notification.is_new_job_offer_applicants or notification.is_old_job_offer_closed %}
    <a href="{{ notification.job_offer.get_absolute_url }}" class="btn btn-primary">{% trans 'Check it out' %}</a>
{% elif notification.is_new_message_to_company %}
    <a href="{% url 'entrepreneur:messages_adim' notification.venture_to.slug %}" class="btn btn-primary">{% trans 'Go to recevied messages' %}</a>
{% elif notification.is_new_score_to_company %}
    <a href="{{ notification.venture_to.get_absolute_url }}" class="btn btn-primary">{% trans 'Check it out' %}</a>
{% elif notification.is_company_deactivation %}
    <a href="{% url 'entrepreneur:general_venture_form' notification.venture_from.slug %}" class="btn btn-primary">{% trans 'Go to company settings' %}</a>
{% elif notification.is_company_elimination %}
    <p>{% trans 'Your administrator membership has been deleted too.' %}</p>
{% elif notification.is_updated_user_agreement %}
    {% if not user.accepted_terms %}
    <a href="{% url 'corporative:legal_item_agree' 'user-agreement' %}" class="btn btn-primary">{% trans 'I am agree' %}</a>
    {% else %}
    User agreement has been accepted.
    {% endif %}
{% elif notification.is_updated_privacy_policy %}
    {% if not user.accepted_privacy_policy %}
    <a href="{% url 'corporative:legal_item_agree' 'privacy' %}" class="btn btn-primary">{% trans 'I am agree' %}</a>
    {% else %}
    Privacy policy has been accepted.
    {% endif %}
{% else %}
    <p>You have accepted.</p>
{% endif %}
</div>
