{% extends "layout/base.html" %}
{% load widget_tweaks static i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block css %}
<link href="{% static 'dist/css/account/login.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 bg-light">
            <div class="row">
                <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 py-5 mt-4 mb-5">
                    <h3 class="mb-4">
                        {% trans 'Login' %}
                    </h3>

                    <a
                        class="btn btn-block btn-social btn-lg btn-facebook mb-5"
                        href="{% url 'social:begin' 'facebook' %}">
                        <span class="fab fa-facebook"></span>
                        {% trans 'Facebook login' %}
                    </a>

                    <form method="post" id="id_qjLogInForm">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="form-group">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% render_field field class+="form-control form-control-lg" %}
                            {{ field.errors }}
                            <div class="helpText">{{ field.help_text|safe }}</div>
                        </div>
                        {% endfor %}
                        <p class="mb-4 text-right">
                            <a href="{% url 'password_reset' %}">{% trans 'Forgot my password' %}</a>
                        </p>

                        <div class="row">
                            <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    {% trans 'Login' %}
                                </button>
                            </div>

                            <div class="col-12 col-sm-6">
                                <a class="btn btn-outline-success btn-lg btn-block" href="{% url 'signup' %}">
                                    Sign up
                                </a>
                            </div>
                        </div>
                    </form>

                    <div class="panel panel-default LoginForm qj-home-register">
                    </div>
                </div>
            </div>
        </div>

        <div class="d-none d-md-block col-6 login-data-container">
            <div class="row">
                <div class="col-12 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 py-5 mt-4 mb-5">
                    <h2 class="my-5 pt-5 font-weight-bold text-white">
                        {% trans 'The Cannabis Industry Network' %}
                    </h2>

                    <p class="mb-5 h4 text-white">
                        {% trans 'Connect with companies and experts in different sectors of the cannabis industry.' %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'dist/js/account/login.min.js' %}"></script>
{% endblock %}
