{% extends "layout/index.html" %}
{% load static %}

{% block title %}Recuperar contraseña{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="qj-home-background"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default PasswordResetConfirm qj-home-register">
                <div class="panel-heading">
                    <h3>Recuperación de contraseña.</h3>
                </div>

                <div class="panel-body">
                    <p>Hemos enviado un correo electrónico con las instrucciones para recuperar su contrsaseña</p>

                    <a href="{% url 'home' %}" class="btn btn-ghost-white btn-lg">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
