{% extends "layout/index.html" %}
{% load widget_tweaks static i18n %}

{% block title %}{% trans 'Password recovery' %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/home.min.css' %}">
{% endblock %}

{% block content %}
<div class="qj-home-background"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default PasswordResetForm qj-home-register">
                <div class="panel-heading">
                    <h3>{% trans 'Password recovery' %}</h3>
                </div>

                <div class="panel-body">
                    <p>{% trans 'Enter your email address and we will sent you instrunction to recovery your password.' %}</p>

                    <form method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="form-group">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                        <div class="form-group formGroup_lessMarginBottom">
                            <p>{{ form.email.label_tag }}</p>
                            {% render_field form.email class+='borderInput form-control' %}
                            {{ form.email.errors }}
                        </div>
                        <button type="submit" class="btn btn-ghost-white btn-lg">{% trans 'Request password recovery' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(function() {
    'use strict';

    $('.PasswordResetForm form').validate({
        rules: {
            email: {
                email: true,
                required: true
            }
        }
    });
});
</script>
{% endblock %}
