{% extends "layout/base.html" %}
{% load widget_tweaks static i18n %}

{% block title %}{% trans 'Password recovery' %}{% endblock %}

{% block header %}
{% include 'layout/menu/inc_dark_navbar.html' %}
{% endblock header %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 bg-light">
            <div class="row">
                <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 py-5 mt-4 mb-5">
                    <h3 class="mb-4">
                        {% trans 'Password recovery' %}
                    </h3>

                    <p class="mb-5">
                        {% trans 'Enter your email address and we will sent you instructions to recovery your password.' %}
                    </p>

                    <form method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="form-group">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        <div class="form-group formGroup_lessMarginBottom mb-5">
                            {{ form.email.label_tag }}
                            {% render_field form.email class+='borderInput form-control form-control-lg' %}
                            {{ form.email.errors }}
                        </div>
                        <button
                            class="btn btn-primary btn-lg btn-block"
                            type="submit">
                            {% trans 'Request password recovery' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="d-none d-md-block col-6 reset-password-data-container">
            <div class="row">
                <div class="col-12 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 py-5 mt-4 mb-5">
                    <h2 class="my-5 pt-5 font-weight-bold text-white">
                        {% trans 'The Cannabis Industry Network' %}
                    </h2>

                    <p class="mb-5 font-weight-bold h2 text-white">
                        {% trans 'Connect with companies and experts in different sectors of the cannabis industry.' %}
                    </p>

                    <!-- <div class="mb-5">
                        <img src="{{ country.flag }}">
                        <span>{{ country.name }}</span>
                    </div> -->

                    <div class="row text-center text-white mb-5 pb-4">
                        <div class="col-6">
                            <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                            <h5 class="mt-3 h3 font-weight-bold">
                                {{ country_users_count }} {% trans 'users' %}
                            </h5>
                        </div>

                        <div class="col-6">
                            <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
                            <h5 class="mt-3 h3 font-weight-bold">
                                {{ country_companies_count }} {% trans 'companies' %}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(function() {
    'use strict';

    $('.PasswordResetForm form').validate({
        rules: {
            email: {
                email: true,
                required: true
            }
        }
    });
});
</script>
{% endblock %}
