{% extends "layout/index.html" %}
{% load widget_tweaks static %}

{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="qj-home-background"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default PasswordResetConfirm qj-home-register">
                <div class="panel-heading">
                    <h3>Confirmar contraseña</h3>
                </div>

                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="form-group">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                        <div class="form-group">
                            <p>Nueva contraseña</p>
                            {% render_field form.new_password1 class+='borderInput form-control' %}
                            {{ form.new_password1.errors }}
                        </div>
                        <div class="form-group">
                            <p>Confirma tu nueva contraseña</p>
                            {% render_field form.new_password2 class+='borderInput form-control' %}
                            {{ form.new_password2.errors }}
                        </div>
                        
                        <button type="submit" class="btn btn-ghost-white btn-lg">Restablecer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(function() {
    'use strict';

    $('.PasswordResetConfirm form').validate({
        rules: {
            new_password1: {
                minlength: 8,
                valid_password: true,
                required: true
            },
            new_password2: {
                minlength: 8,
                valid_password: true,
                equalTo: "#id_new_password1"
            }
        }
    });
});
</script>
{% endblock %}

