{% extends "layout/index.html" %}
{% load static i18n %}

{% block title %}{% trans 'Password recovery' %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="qj-home-background"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default PasswordResetConfirm qj-home-register">
                <div class="panel-heading">
                    <h3>{% trans 'Password recovery.' %}</h3>
                </div>

                <div class="panel-body">
                    <p>{% trans 'We have sent you an email with instruction to recovery your passowd.' %}</p>

                    <a href="{% url 'home' %}" class="btn btn-ghost-white btn-lg">{% trans 'Home' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
