@import 'layout/libs/aos';

body {
  font-family: "Montserrat", sans-serif;
}

/*Header Style*/
header {
  background: url("../img/landing_page/cannabis_leaf.jpg") no-repeat center center;
  position: relative;
  height: auto;
  min-height: 600px;
  background-size: cover;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    height: 100vh;
    padding-bottom: 0;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.95rem;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active {
  color: #fff;
  box-shadow: 0 1px 0 #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

.home-header-text {
  padding-top: 6rem;
  color: #fff;
}

.bg-secondary {
  background-color: #822990 !important;
}

@media (max-width: 575.98px) {
  .home-header-text {
    padding-top: 1.5rem;
  }
  .home-header-text .display-3 {
    font-size: 3rem;
  }
}

/*Projects Style*/
.qj-section_2 .qj-section_2-1 {
  position: relative;
  max-height: 300px;
  background-size: cover;
  background-image: center center;
}

.qj-section_2 .qj-section_2-1 {
  position: relative;
  max-height: 300px;
  background-size: cover;
  background-image: center center;
}

/* Expertise Skills Style */
.da-expertise .da-exp-skills {
  padding: 70px 40px 60px 40px;
}

.da-expertise .progress-bar {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.da-expertise .aos-animate {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.da-expertise .da-exp-image {
  background-image: center center;
  background-size: cover;
  min-height: 450px;
}

/*Team Carousel Style*/
.da-team .carousel-indicators {
  bottom: 0px;
}

.da-team .carousel-indicators li {
  background-color: #3d3f4c;
}

.da-team .carousel-indicators .active {
  background-color: #26b7a0;
}

/*Image Gallery Style*/
.da-gallery .card-columns .card {
  border: none;
  border-radius: none;
}

@media (max-width: 992px) {
  .da-gallery .card-columns {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (max-width: 576px) {
  .da-gallery .card-columns {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

/* Company Brand Style */
.da-company-brand img {
  opacity: 0.6;
  width: 90%;
}

.da-company-brand img:hover {
  opacity: 1;
}

/*Contact Style*/
.da-contact {
  background: url("../images/staticmap.png") no-repeat center center;
  position: relative;
  min-height: 700px;
  background-size: cover;
}

.da-contact .da-contact-detail {
  padding: 8% 0 8% 1%;
}

@media (max-width: 992px) {
  .da-contact .da-contact-detail {
    padding: 15% 0 5% 1%;
  }
}

@media (max-width: 767px) {
  .da-contact .da-contact-detail {
    padding: 15px 0px 15px 0px;
  }
}

/* Credit Style */
a.credit {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

/*Scroll Top Style*/
#scrolltop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scrolltop .btn {
  border-radius: 50%;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}

/*Common Style*/
.qj-section {
  padding: 100px 0;
}
