<tr>
    <td>
        <img class="thumbnail img-responsive" src="{{ company.get_logo }}" alt="{{ company }}" style="width: 80px; height: auto">
        <p class="h4">
            <a href="{{ company.get_absolute_url }}">{{ company }}</a>

            <p>
                <img src="{{ company.country.flag }}">
                <span>{{ company.country }}</span>
            </p>

            <p>{{ company.city }} {% if company.state %}, {{ company.state }}.{% endif %}</p>
        </p>
    </td>
    <td>
        <ul>
        {% for category in company.industry_categories.all %}
            <li class="label label-primary">{{ category }}</li>
        {% endfor %}
        </ul>

        {{ company.description_en|safe|truncatechars_html:150 }}

        <div class="pull-right JSCompanyActions">
            {% if permission_app.manage_admin_views and not company.shared_on_twitter %}
            <a href="javascript:void(0)" class="JStwitterShareCompany btn btn-ghost-purple" data-twitter-share-url="{% url 'corporative:ax_twitter_share_venture' company.slug %}">
                <i class="fa fa-twitter"></i> Share
            </a>
            {% endif %}

            <a href="{{ company.get_absolute_url }}" class="btn btn-primary">View</a>
        </div>
    </td>
</tr>