{% extends "layout/index.html" %}
{% load static widget_tweaks i18n %}

{% block title %}{% trans 'Profile update' %}{% endblock %}

{% block css %}
<link href="{% static 'dist/css/account/profile_edit.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="account qjane-profile-update">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans 'Basic information' %}</h3>
            </div>

            <div class="panel-body QjaneAccountGeneralInfo">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="media-object">
                            <div class="row">
                                <div class="col-xs-8 col-sm-11 col-md-9">
                                    <img class="img-responsive thumbnail" src="{{ professional_profile.user.get_avatar }}" alt="{{ professional_profile }}">
                                </div>
                            </div>
                        </div>

                        <form id="id_profile_update_avatar_form" method="post" enctype="multipart/form-data" data-profile-update-avatar-url="{% url 'account:update_profile_avatar_form' %}" style="display:none;">
                            {% csrf_token %}
                            {% render_field avatar_form.avatar %}

                            <button type="submit" id="submit_avatar_link"></button>
                        </form>

                        <a class="btn btn-ghost-purple" href="javascript:void(0)" id="id_profile_avatar_update_link">
                            <i class="fa fa-camera fa-fw" aria-hidden="true"></i>
                            {% trans 'Update' %}
                        </a>
                    </div>

                    <div class="col-xs-12 col-sm-9">
                        <div class="alert alert-success successfullyProfileUpdate" role="alert" style="display:none;">{% trans 'Profile updated successfully.' %}</div>
                        <div class="alert alert-warning badProfileUpdate" role="alert" style="display:none;">{% trans 'There was an error. Reload the page and try again.' %}</div>

                        <form class="profile-form" id="id_user_profile_form" data-profile-update-url="{% url 'account:profile_update' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label>
                                            {{ form.first_name.label }}
                                            <span class="QJRequiredField">*</span>
                                        </label>

                                        {% render_field form.first_name class+="form-control" %}
                                        {{ form.first_name.errors }}
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            {{ form.last_name.label }}
                                            <span class="QJRequiredField">*</span>
                                        </label>

                                        {% render_field form.last_name class+="form-control" %}
                                        {{ form.last_name.errors }}
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            {{ form.email.label }}
                                            <span class="QJRequiredField">*</span>
                                        </label>

                                        {% render_field form.email class+="form-control" %}
                                        {{ form.email.errors }}
                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-12">
                                    <div id="id_QjaneVFcountryAut" class="form-group profile-form__country" data-country-autocomplete-url="{% url 'place:country_search' %}">
                                        <label>
                                            {% trans 'Country' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>
                                        <div class="profile-form__country__typeahead">
                                            {% render_field form.country_search class+="form-control" %}
                                            
                                            <img id="id_QjaneVFcountryAutImg" class="profile-form__country__typeahead__flag-icon" src="{{ professional_profile.user.country.flag }}">

                                            <p>{{ form.country_search.errors }}</p>
                                        </div>
                                    </div>

                                    <div class="form-group" style="display:none;">
                                        {% render_field form.country_code %}
                                        <p>{{ form.country_code.errors }}</p>
                                    </div>

                                    <div id="id_QjaneVFcityAut" class="form-group profile-form__city" data-ax-city-create-url="{% url 'place:ax_city_create' %}" data-ax-city-autocomplete-url="{% url 'place:city_search' %}">
                                        <label>
                                            {% trans 'City' %}
                                            <span class="QJRequiredField">*</span>
                                        </label>
                                        <div class="profile-form__city__typeahead">
                                            {% render_field form.city_search class+="form-control" %}
                                            <i class="fa fa-spinner fa-pulse fa-fw profile-form__city__typeahead__spinner-icon QjaneShareGPSloading" style="display: none;"></i>
                                            <a class="fa fa-paper-plane profile-form__city__typeahead__send-icon QjaneShareGPSfigure" aria-hidden="true" href="javascript:void(0)" title="Obtener por ubicación"></a>
                                            <p>{{ form.city_search.errors }}</p>

                                            <p class="QJgUbicationMessage">{% trans 'If when writing the name of the city, it does not appear available in the list,' %} <a href="javascript:void(0)" class="QjaneShareGPStext">{% trans 'please, allow us to try to obtain your location' %}</a> {% trans 'and register it in the application.' %}</p>
                                        </div>

                                        <div class="form-group" style="display:none;">
                                            {% render_field form.city_id %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title clearfix">
                    <span class="pull-left">{% trans 'Industry sectors' %}</span>
                </h3>
            </div>

            <div class="panel-body">
                {% get_current_language as LANGUAGE_CODE %}
                <ul class="qjane-industry-categories-list" data-update-professional-profile-category-url="{% url 'account:ax_update_professional_profile_category' %}">
                    {% for industry_category in industry_categories %}
                    <li>
                        <a class="btn {% if industry_category in user.professionalprofile.industry_categories.all %}btn-primary{% else %}btn-ghost-purple{% endif %}" href="javascript:void(0)" data-category-id="{{ industry_category.id }}">
                        {% if LANGUAGE_CODE == 'es' %}
                        {{ industry_category.name_es }}
                        {% else %}
                        {{ industry_category.name_en }}
                        {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>

                <p class="QjaneEmptyCategoriesBug"></p>
            </div>
        </div>

        <div class="QjaneProfileUpdateDescriptionContainer" data-update-profile-description-form="{% url 'account:update_profile_description_form' %}">
            <form id="id_profile_change_description_form" method="post">
                {% csrf_token %}
                <div class="js_lan_form_container">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title clearfix">
                                <span class="pull-left">{% trans 'English - Professional profile description' %}</span>

                                <a href="javascript:void(0)" class="btn btn-primary js_edit_desc_link pull-right">
                                    {% trans 'Edit' %} <span class="fa fa-pencil-square-o js_edit_desc_link" aria-hidden="true"></span>
                                </a>
                            </h3>
                        </div>

                        <div class="panel-body">
                            <div class="QjaneUpdatedENdescProfile"></div>

                            <div class="description_field_container" style="{% if professional_profile.description_en %}display:none;{% endif %}">

                                <div id="rich_editor_description_en">
                                    {{ professional_profile.description_en|safe }}
                                </div>

                                <div style="display:none;">
                                    {% render_field profile_description_form.description_en %}
                                </div>

                                <button type="submit" class="btn btn-primary mt-xs">
                                    {% trans 'Save' %}
                                </button>
                            </div>

                            <div class="desc_cont profile_description_en_content">
                            {% if professional_profile.description_en %}
                                {{ professional_profile.description_en|safe }}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="js_lan_form_container">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title clearfix">
                                <span class="pull-left">{% trans 'Spanish - Professional profile description' %}</span>

                                <a href="javascript:void(0)" class="btn btn-primary js_edit_desc_link pull-right">
                                    {% trans 'Edit' %} <span class="fa fa-pencil-square-o js_edit_desc_link" aria-hidden="true"></span>
                                </a>
                            </h3>
                        </div>

                        <div class="panel-body">
                            <div class="QjaneUpdatedSPdescProfile"></div>

                            <div class="description_field_container" style="{% if professional_profile.description_es %}display:none;{% endif %}">

                                <div id="rich_editor_description_es">
                                    {{ professional_profile.description_es|safe }}
                                </div>

                                <div style="display: none;">
                                    {% render_field profile_description_form.description_es %}
                                </div>

                                <button type="submit" class="btn btn-primary mt-xs">
                                    Save
                                </button>
                            </div>

                            <div class="desc_cont profile_description_es_content">
                            {% if professional_profile.description_es %}
                                {{ professional_profile.description_es|safe }}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title clearfix">
                    <span class="pull-left">{% trans 'Email notifications' %}</span>
                </h3>
            </div>

            <div class="panel-body text-center ManageEmailNotifications" data-update-email-notifications-url="{% url 'account:ax_email_notification_update' %}">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h3>{% trans 'Job offers' %}</h3>
                        <p>{% trans 'Notify me about new job offers that fit my profile.' %}</p>

                        <div data-notification="email_jobs_notifications">
                            <button type="button" data-value="notify" class="btn {% if professional_profile.email_jobs_notifications %}btn-primary{% else %}btn-default{% endif %}">{% trans 'Yes' %}</button>

                            <button type="button" data-value="not_notify" class="btn {% if not professional_profile.email_jobs_notifications %}btn-primary{% else %}btn-default{% endif %}">{% trans 'No' %}</button>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <h3>{% trans 'Private messages' %}</h3>
                        <p>{% trans 'notify me when I receive a new inbox message.' %}</p>

                        <div data-notification="email_messages_notifications">
                            <button type="button" data-value="notify" class="btn {% if professional_profile.email_messages_notifications %}btn-primary{% else %}btn-default{% endif %}">{% trans 'Yes' %}</button>

                            <button type="button" data-value="not_notify" class="btn {% if not professional_profile.email_messages_notifications %}btn-primary{% else %}btn-default{% endif %}">{% trans 'No' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/place/place_autocomplete.js' %}"></script>
<script src="{% static 'js/place/show_position.js' %}"></script>
<script src="{% static 'js/account/profile_update.js' %}"></script>
{% endblock %}
