{% extends "layout/index.html" %}

{% load static %}

{% block title %}{{ profile }}{% endblock %}

{% block content %}
<div class="qjane-profesional-profile">
    <div class="container">
        <h1>{{ profile }}</h1>

        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <img style="max-width: 100%;" class="media-object thumbnail" src="{{ profile.user.get_avatar }}" alt="{{ profile }}">

                {% if can_send_message %}
                <button type="button" id="id_send_message_button" class="btn btn-success" data-toggle="modal" data-target="#composeMessageModal" data-user-to-id="{{ profile.user.id }}" data-user-to-name="{{ profile }}">Send message</button>
                <br>
                <br>
                {% endif %}

                <div class="QJProfileDetCategories">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <span>{% if profile.industry_categories.count > 1 %}Sectors{% else %}Sector{% endif %}</span>
                        </div>

                        <div class="panel-body">
                            <ul class="QJVentureDetCats">
                            {% for industry_category in profile.industry_categories.all %}
                                <li>{{ industry_category }}</li>
                            {% empty %}
                                <li>{{ profile.user.first_name }} has not added industry sectors.</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {% if profile.user.country or profile.user.city %}
                <div class="QJVentureDetLocation">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <span>Location</span>
                        </div>

                        <div class="panel-body">
                            {% if profile.user.country %}
                            <div>
                                <img src="{{ profile.country.flag }}">
                                <span>{{ profile.user.country }}</span>
                            </div>
                            {% endif %}

                            {% if profile.user.city %}
                            <div>
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                <span>{{ profile.user.city }} {% if profile.user.state %}, {{ profile.user.state }}.{% endif %}</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="QJProfileDetDescription">
                {% if profile.description_en %}
                    <div class="QJRedactorContent">
                        {{ profile.description_en|safe }}
                    </div>
                {% else %}
                <p>There is not information about this profile.</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/account/professional_profile.js' %}"></script>
{% endblock %}
