.qjane-industry-categories-list {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }
}

#div_id_industry_categories {
  display: none;
}

.QjaneVentureSettingsLogoContainer img {
    max-width: 100%;
}
