{% extends "layout/index.html" %}
{% load widget_tweaks static %}

{% block title %}Cannabis Industry Network{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dist/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="qj-home-background"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

            <div class="panel panel-default qj-home-register">
                <div class="panel-heading">
                    <div class="clearfix">
                        <span class="QJHcountry pull-left">
                            <!-- <img src="{{ country.flag }}"> -->
                            <span>{{ country.name }}</span>
                        </span>

                        <span class="QJHcountryCount pull-right">
                            <span class="fa fa-user"></span>
                            <span>{{ country_users_count }} users</span>

                            <span class="QJHDivider">|</span>

                            <span class="fa fa-briefcase"></span>
                            <span>{{ country_ventures_count }} companies</span>
                        </span>

                    </div>
                </div>

                <div class="panel-body">
                    <h2>The Cannabis Industry Network</h2>
                    <p>Connect with companies and experts in different sectors of the cannabis industry.</p>

                    <div class="row social-network-wrapper">
                        <div class="col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
                            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span>
                                Facebook login
                            </a>
                        </div>
                    </div>

                    <form action="{% url 'account:signup_form_submit' %}" method="POST" class="qjane-home-signup-form" id="id-qjane-home-signup-form">
                        {% csrf_token %}

                        <div class="row">
                            {% for field in signup_form.visible_fields %}
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {% render_field field class+='borderInput form-control' %}
                                        {{ field.errors }}
                                        <div class="helpText">{{ field.help_text|safe }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="submit" class="btn btn-ghost-white btn-lg">Sign up</button>
                    </form>

                    <br>
                    <p><i>By registering, you are accepting the <a href="https://queryjane.net/corporative/user-agreement/" target="_blank">terms of use</a></i> and the <a href="https://queryjane.net/corporative/privacy-policy/" target="_blank">privacy policy</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
