{% extends "layout/base.html" %}
{% load widget_tweaks static i18n %}

{% block title %}{% trans 'Cannabis Industry Network' %}{% endblock %}

{% block header %}
{% include 'layout/menu/inc_dark_navbar.html' %}
{% endblock header %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 bg-light">
        <div class="row">
            <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 py-5 mt-4 mb-5">
                <h3 class="mb-4">
                    {% trans 'Sign up' %}
                </h3>

                <a
                    class="btn btn-block btn-social btn-facebook btn-lg mb-5"
                    href="{% url 'social:begin' 'facebook' %}">
                    <span class="fab fa-facebook"></span>
                    {% trans 'Facebook login' %}
                </a>

                <form
                    id="id_qjSignUpForm"
                    class="mb-4"
                    method="POST">
                    {% csrf_token %}

                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% render_field field class+='form-control form-control-lg' %}
                            {{ field.errors }}
                            <div>{{ field.help_text|safe }}</div>
                        </div>
                    {% endfor %}

                    <button
                        class="btn btn-primary btn-lg btn-block mt-5"
                        type="submit">
                        {% trans 'Sign up' %}
                    </button>
                </form>

                <p>
                    <i>{% trans 'By registering, you are accepting our' %} <a href="{% url 'corporative:legal_item' 'user-agreement' %}" target="_blank">{% trans 'user agreement' %}</a>, <a href="{% url 'corporative:legal_item' 'privacy-policy' %}" target="_blank">{% trans 'privacy policy' %}</a> {% trans 'and' %} <a href="{% url 'corporative:legal_item' 'cookies-policy' %}" target="_blank">cookies policy</a>.</i>
                </p>
            </div>
        </div>
    </div>

    <div class="d-none d-md-block col-6 signup-data-container">
        <div class="row">
            <div class="col-12 offset-0 col-lg-8 offset-lg-2 py-5 mt-4 mb-5">
                <h2 class="my-5 pt-5 font-weight-bold text-white text-center">
                    {% trans 'The Cannabis Industry Network' %}
                </h2>

                <div class="media mb-5 pb-3 mx-0 mx-xl-5">
                    <img
                        style="width: 30px"
                        class="align-self-center mr-4 ml-5"
                        src="{{ country.flag }}">
                    <div class="media-body h4 text-white mb-0">
                        {% trans 'Users and companies registered in' %}
                        <span>
                            {{ country.name }}
                        </span>
                    </div>
                </div>

                <div class="row text-center text-white">
                    <div class="col-6">
                        <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                        <h5 class="mt-3 h3 font-weight-bold">
                            {{ country_users_count }}
                            <br>
                            {% trans 'users' %}
                        </h5>
                    </div>

                    <div class="col-6">
                        <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
                        <h5 class="mt-3 h3 font-weight-bold">
                            {{ country_companies_count }}
                            <br>
                            {% trans 'companies' %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock js %}
